*{
    padding:0;
    margin:0;
}
ul,li{
    list-style:none;
}
body{
    background:#ddd;
}
.headerwrap{
    width:100%;
    height:50px;
    background: #444;
}
.headerwrap header{
    widows: 1200px;
    margin:0 auto;
}
.headerwrap img{
    width:120px;
    float:left;
    margin:10px 10px 10px 30px;
}
.headerwrap a{
    margin:0 20px;
    color:white;
    text-decoration:none;
    font-size: 13px;
}
.headerwrap header input{
    border-radius: 30px;
    height:25px;
    width:250px;
    float:left;
    margin-top:15px;
}
.main{
    width:1200px;
    margin:30px auto;
}
.content{
    width:900px;
    float:left;
    /* border:1px solid red; */
}
.sider{
    width:270px;
    height:1200px;
    float:right;
  
}
.inner{
    background: #fff;
    width:270px;
    height:96px;
}
.inner p{
    font-size: 14px;
    padding: 10px;
    line-height: 26px;;
}
.inner span{
    background-color: #5bc0de;
    border-radius: 3px;
    color:#fff;
    font-size:14px;
    padding:10px 20px;
    line-height: 2em;
}
.all{
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 3px 3px 0 0;
}
.all a{
    /* background-color: #80bd01; */
    padding: 3px 4px;
    color:#80bd01;
    border-radius: 3px;
    margin:0 10px 0 10px;
    text-decoration:none;
}
.all a:hover 
 {
    background-color: #80bd01;
    color:#fff;
}
.word{
    background-color:#fff;
}
.list{
    width:900px;
    height:1300px;
    overflow:hidden

}
.list li{
    height:50px;
    background: #fff;
    font-size: 16px;
    overflow: hidden;
    border-bottom: 0.5px solid rgb(226, 226, 226);
}
.list li:hover{
   
    background:  #f6f6f6;
   
}
.list1{
    height: 40px;
    width:860px;
    background-color: #fff;
    padding:20px 0 0 40px
}
.list1 li a{
    float: left;
    padding: 5px 15px;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 0;
    cursor: default;
    color: #999;
}
.title{
    float:left;
    color: #888;
    cursor: default;
    text-decoration: none;
    padding:13px 120px 0 0 ;
    width:540px;
    overflow: hidden;
    height:34px;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
.title:hover{
    text-decoration: underline;
}
.num{
    float:left;
    width: 70px;
    /* display: inline-block; */
    text-align: center;
    padding-top:12px;
    padding-right:8px ;
}
.count{
   
    color: #9e78c0;
    font-size: 14px;
}
.count1{
    font-size: 10px;
    color: #b4b4b4;
 
    
}
.count2{
    font-size: 10px;
    color: #b4b4b4; 
    padding-top: 20px;
    float:left;
}
.img1{
    width: 30px;
    height: 30px;
    border-radius: 3px;
    float:left;
    padding: 6px 6px 0 8px;
}
.butt{
    background-color: #e5e5e5;
    color: #999;
    padding: 2px 4px;
    font-size: 12px
}
.butt:hover{
    text-decoration: none;;
}
.img2{
    width: 18px;
    height: 18px;
    border-radius: 3px;
    float:left;
    padding: 20px 30px 0 0px;
}
.ads{
    height:235px;
    width:270px;
    background-color: #fff;
    margin-top:13px ;
}
.ads img{
    height:70px;
    width:255px;
    margin:5px 0 0 8px;
}

.ads1{
    height:235px;
    width:270px;
    background-color: #fff;
    margin-top:13px ;
}
.last{
    width:100%;
    height:150px;
    background-color: #fff;
    float:left;
    margin-top:20px;
}
.last p{
    color:#778087
}
.last1{
    margin:20px 0 0 80px;
}
.yong{
    margin:45px 0px 20px 200px;
}
.yong p{
    float:left;
    width:60px;
}
.yong input{
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;
}